body {
    background-color: #6194FF;
}


p {
    font-family: arial;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

h1, h2, h6 {
    font-family: helvetica, arial;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

textarea {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

h1 {
    font-size: 50px
}

#output {
    font-family: arial;
    font-weight: bold;
    text-align: justify;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.tiny { 
    background-color: yellow;
    color: white;
}

.short {
    background-color: red;
    color: white;
}

.medium {
    background-color: green;
    color: white;
}

.long {
    background-color: blue;
    color: white;
}

#colorSelect {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
